<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - My ASP.NET Core Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/chat.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>@ViewData["Title"]</h1>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>